streamlit==1.36.0

langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-google-genai==1.0.6

pypdf==4.3.1
faiss-cpu==1.9.0.post1

sentence-transformers==5.2.0
langchain-huggingface==0.0.3

python-dotenv==1.0.1
