langchain==0.2.16
langchain-core==0.2.38
langchain-community==0.2.16
langchain-google-genai==1.0.10
langchain-huggingface==0.0.3
sentence-transformers==5.2.0
pypdf==4.3.1
faiss-cpu==1.8.0.post1
python-dotenv==1.0.1
streamlit==1.36.0
